{
  order replace after encode
}

(frontend) {
  replace "pipedapi.kavin.rocks" "{env.BACKEND_HOSTNAME}"
  file_server {
    status 200
  }

}

:8080 {
  log
  root * /app
  import frontend
  handle_errors {
    rewrite * /
    import frontend
  }
}
