---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test Version

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        required: true

permissions:
  contents: read

jobs:
  test-version:
    name: Test Version (${{ inputs.version }})
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Get App Versions
        uses: ./.github/actions/app-versions
        id: app-versions
        with:
          upstream-version: ${{ inputs.version }}

      - name: Check Version Results
        env:
          INPUT_VERSION: ${{ inputs.version }}
        run: |-
          echo "Input Version: ${INPUT_VERSION}"
          echo "Is Valid Semver: ${{ steps.app-versions.outputs.is-valid-semver }}"
          echo "Semantic Version: ${{ steps.app-versions.outputs.semantic }}"
          echo "Raw Version: ${{ steps.app-versions.outputs.raw }}"
