---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test Version

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        required: true

permissions:
  contents: read

jobs:
  test-version:
    name: Test Version (${{ inputs.version }})
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Get Application Versions
        uses: ./.github/actions/app-versions
        id: app-versions
        with:
          upstream-version: ${{ inputs.version }}

      - name: Check Version Results
        run: |
          echo "Input Version: ${{ inputs.version }}"
          echo "Is Valid Semver: ${{ steps.app-versions.outputs.is-valid-semver }}"
          echo "Semantic Version: ${{ steps.app-versions.outputs.semantic }}"
          echo "Raw Version: ${{ steps.app-versions.outputs.raw }}"
